# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXX

KINDE_ORG_CODE=XXXXXXXXXXXXXXXXXXXXXXXXXX
KINDE_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
KINDE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXX
KINDE_ISSUER_URL=XXXXXXXXXXXXXXXXXXXXXXXX

KINDE_SITE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXX
KINDE_POST_LOGOUT_REDIRECT_URL=XXXXXXXXXX
KINDE_POST_LOGIN_REDIRECT_URL=XXXXXXXXXXX
