@tailwind base;
@layer base {
  :root {
    isolation: isolate;
    scroll-padding-top: 2em;
  }

  html {
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    text-size-adjust: none;
    touch-action: manipulation;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: inherit;
  }

  /* Set core body defaults */
  :where(body) {
    min-block-size: 100vh;
    min-block-size: 100dvh;
  }

  :is(
      a,
      button,
      label,
      select,
      summary,
      [role="button"],
      [role="option"],
      [role="menuitem"]
    ) {
    @apply cursor-pointer;
  }

  @media not all and (min-resolution: 0.001dpcm) {
    :where(img[loading="lazy"]) {
      clip-path: inset(0.5px);
    }
  }

  :where(svg[class]) {
    --clr-icon: currentColor;
    fill: currentColor;
  }

  :where(:focus-visible) {
    outline: 2px solid var(--focus-color, Highlight);
    outline-offset: 2px;
  }

  @media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
      scroll-behavior: smooth;
    }
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@tailwind components;
@tailwind utilities;
@layer utilities {
  .skip-nav {
    @apply absolute z-[9999] mx-auto translate-y-[-120%]  bg-brand-500 px-[0.5em] py-[1em] text-white transition-transform focus:translate-y-0 focus:outline focus:outline-offset-2 focus:outline-brand-300;
  }
}

:is(.cl-formButtonPrimary ) {
  @apply bg-brand-500 hocus:bg-brand-500 font-sans;
}
:is(.cl-footerActionLink ) {
  @apply text-brand-500 hocus:text-brand-500;
}
