/* ================================= */
/*            UTILITIES              */
/* ================================= */
@layer utilities {
  .app-container {
    --max-width: 111rem;
    --container-padding: 1.6rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
  }
  .navigation-link:where(:hover, :focus),
  [aria-current='page'] {
    @apply text-primary-100;
  }

  :where(.flow > :not(:first-child)) {
    margin-block-start: var(--flow-space, 1.6rem);
  }
  .flow-space--small {
    --flow-space: 1rem;
  }

  .w-full-shadow {
    box-shadow: 0 0 0 100vmax var(--clr-shadow), 0 0 2rem var(--clr-shadow);
    clip-path: inset(0 -100vmax);
  }

  .skip-to-content {
    @apply absolute mx-auto py-[1em] px-[0.5em]  text-neutral-100 bg-primary-300 z-[9999] translate-y-[-120%] transition-transform focus:translate-y-0 focus:outline-offset-2 focus:outline focus:outline-primary-300;
  }
}
